//
// Content
// --------------------------------------------------


// Base styles
// --------------------------------------------------

.contentArea{
	box-shadow: $content-shadow;
	background-color: $content-bg;
	text-align: left;
	border-radius: $content-corner-radius;
	overflow: hidden;
	width: 100%;
	position: relative;
}
