// Variables for SideNav
// --------------------------------------------------


// Shape
//

$sideNav-width:						  12%;
$sideNav-title-height:				  64px;
$sideNav-profile-height:			  200px;

// Color
//

$sideNav-bg:						  #555;
$sideNav-color:						  #fff;
