// Variables for SideNav
// --------------------------------------------------


// Shape
//

$sideNav-width:						  100%;
$sideNav-height:				 	  $title-height;
$sideNav-profile-height:			  200px;

$profile-pic-size:					  64px;
$profile-pic-radius:				  $profile-pic-size/2;


// Color
//

$sideNav-bg:						  #f8f8f8;
$sideNav-color:						  #9d9d9d;
