// Variables for SideNav
// --------------------------------------------------


// Shape
//

$sideNav-width:						  12%;
$sideNav-title-height:				  64px;
$sideNav-profile-height:			  200px;

$profile-pic-size:					  64px;
$profile-pic-radius:				  $profile-pic-size/2;


// Color
//

$sideNav-bg:						  #444;
$sideNav-color:						  #fff;
