.animate-switch-container {
    position:relative;
    background:white;
    min-height: 500px;
    overflow: hidden;
    padding-bottom: 20px;
}


.animate-switch.ng-animate {
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;

    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}
.animate-switch.ng-leave.ng-leave-active {
    -webkit-transform: translateX(100%);
    transform:translateX(100%);
}
.animate-switch.ng-enter {
    -webkit-transform: translateX(-100%);
    transform:translateX(-100%);
}
.animate-switch.ng-leave {
    -webkit-transform: translateX(-0%);
    transform:translateX(0%);
}
.animate-switch.ng-enter.ng-enter-active {
    -webkit-transform: translateX(0%);
    transform:translateX(0%);
}



