.chart {
    background: #eee;
    padding: 3px;
}

.chart div {
    width: 0;
    transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}

.chart div {
    font: 10px sans-serif;
    background-color: steelblue;
    text-align: right;
    padding: 3px;
    margin: 5px;
    color: white;
    box-shadow: 2px 2px 2px #666;
}

body {
    font-size: small;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path {

}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 3px;
}

.PerRoom {
    display: inline-block;
    margin-left: 5%;
    margin-top: 3%;
}

.AddRoombutton {
    font-size: medium;
    width: 28px;
    height: 21px;
    padding: 0px;
    display: inline-block;
}

.DeleteRoombutton {
    font-size: medium;
    width: 28px;
    height: 21px;
    padding: 0px;
    display: inline-block;
}

.RoomResidue {
    margin-left: 5%;
    margin-top: 10px;
    width: 45%;
    display: inline-block;
    border: 1px solid grey;
    position: relative;


}

.addRoom {
    position: relative;
    border: 1px solid brown;
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
    width: 45%;
}


.wholeInfoBlock {
    border: 1px solid #2ba6cb;
    height: auto;
}


.datePicker {
    display: inline-block;
    width: 40%;
    margin-left: 5%;
}

.d3Canvas {
    width: 100%;
    height: 310px;
    border: 1px solid goldenrod;
    overflow: scroll;

}

.RoomTypeSelection {
    margin-left: 2%;
    font-size: medium;
    margin-bottom: 10px;
}
.RoomCaption {
    margin-left: 3%;
    font-size: medium;
    margin-bottom: 10px;

}
.RoomSelection  {
    margin-left: 2%;
    font-size: medium;
}
.GuestNum {
    font-size: large;
}
.Deletebutton {
    margin-right: 3.2%;
    height: 20px;
    width: 23px;
}
.gustCaption{
    font-size: medium;
    margin-left: 25px;
}
.clientInput{
    width: 20%;
}
.guest {
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid gainsboro;
}
.guestSource{
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 0px;
    border-bottom: 1px solid gainsboro;
}
.checkButton {
    margin-left: 77px;
}
.RemarkButton {
    margin-right: 30px;
    float: right;
}
.treatyButton {
    margin-left: 45px;
    margin-bottom: 5px;
}
.RemarkInput {
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    width: 80%;
    margin-bottom: 0px;
    background-color: #ffffff;
    border: 1px solid #e3e3e3;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    border-radius: 6px;
}

.Addbutton {
    float: right;
    display: inline;
    padding: 0px;
    margin-top: 10px;
    margin-right: 19px;
    height: 20px;
    width: 23px;
}
.timesCaption {
    margin-left: 10px;
    margin-bottom: 0px;
    margin-right: -22px;
    font-size: 15px;
    color: #2ba6cb;
}

.reservationNext {
    float:right;
    margin-top: 30px;
    margin-right: 5%;
    margin-bottom: 30px;
}

.sourceCollap {
    margin-top: 5px;
    margin-bottom: 5px;
}

.CrossTab table {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    font-size: small;
    margin-top: 1%;
    align-content: center;
    table-layout: fixed;
    overflow: scroll;
}

.CrossTab table th {
    background-color: #000000;
    color: #ffffff;
    font-family: arial, sans-serif;
    font-weight: 400;

}

.CrossTab table td {
    background-color: #cccccc;
    color: #000000;
    align-content: center;
    border: 2px solid white;
    overflow: scroll;
}

.RoomSourceSelection {
    float: right;
    margin-right: 65%;
    margin-top: 1%;
    font-size: medium;
}

.floatRightInput {
    float: right;
    margin-right: 30px;
    width: 10%;
}

.floatRightLabel {
    font-size: medium;
    float: right;
    margin-right: 1%;
}

.hugeCaption{
    font-size: large;
}