.sideNavArea {
    border: solid 2px dimgray;
    background: #cccccc;
    width: auto;
    padding: 20px;
    height: 90%;
    display: inline-block;
    margin-top: 1%;
}

.sideNavArea .sideNav aside{
    font-size: 30px;
    margin-top: 20px;
}

.main{
    display: inline-block;
    border: solid #c0c0c0 2px;
    margin:1%;
    width: 85%;
    position: absolute;
    min-height: 95%;
}
.infoCenterArea{
    background: gainsboro;
    width: 60%;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid forestgreen;
    text-align: center;
}


.contentArea{
    margin-left: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: auto;
    width: 95%;
    border: 1px solid dimgray;
}

.CrossTab table  {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    font-size: smaller;
    margin-top: 1%;
}

.CrossTab table th {
    background-color: #000000;
    color: #ffffff;
    font-family: arial, sans-serif;
    font-weight: 400;
}

.CrossTab table td {
    background-color: #cccccc;
    color: #000000;
    border: 2px solid white;
}

#statusDiv {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    margin-top: 2%;
    margin-bottom: 1%;
}

.goRight:first-child {
    margin-left: 400px;
}
.goRight input {
    margin-right: 10px;
    font-size: small;
    width: 80px;
    height:25px;
}

.goRight select {
    margin-right: 10px;
    font-size: medium;
}

.goRight button {
    height: 25px;
    margin-left: 40px;

    font-size: smaller;
    font-family: arial, sans-serif;
    font-weight: 400;
}
.goRight {
    margin-bottom: 5px;

}

.intellSearchBox {
    margin-left: 400px;
    font-size: small;
    width: 120px !important;
}
.roomBox {
    border: grey solid 1px;
    /*
    margin: 20px;
    */
    height: 120px;
    width: 120px;
    display: inline-block;
}

.roomBox:hover {

    cursor: pointer;
}

.roomAction {
    display: inline-block;
    width: auto;
    border-right: 1px solid skyblue;
    padding-left: 10px;
    padding-right: 30px;
    height: 200px;
}

.roomAction td {
    padding-top: 10px;
}

.infoAction {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.infoPanel {
    float: right;
    width: 455px;
}
.infoAction table {

}

.infoAction td {
    padding-top: 10px;
}

.actionRepeater:hover {
    cursor: pointer;
}

.merchandiseList {
    display: inline-block;
    width: 50%;
}

.prodInput {
    width: 20px;
}
.purchaseBoard {
    position: absolute;
    display: inline-block;
    width: 45%;
}
.purchaseItem {
    width:100%;
    margin-top: 10px;
}
.sumLabel {
    float: right;
    color: #00FFEE;
    font-size: medium;
}

.buyButton{
    float: right;
    margin-left: 10px;
    font-size: medium;
}

.histoPurchaseCrossTab {
    margin: 20px;
}
.histoPurchaseCrossTab table {
    table-layout: fixed;
}

.histoPurchaseCrossTab th{
    background-color: #000000;
    color: #ffffff;
    font-family: arial, sans-serif;
    font-weight: 400;
    overflow: hidden;
}

.histoPurchaseCrossTab td{
    background-color: #cccccc;
    color: #000000;
    border: 2px solid white;
    overflow: hidden;
}
.collpaseTB {
    margin-left: 320px;
}
.roomSmallBox {
    border: grey solid 1px;
    height: 90px;
    width: 90px;
    display: inline-block;
    background-color: #FFFFF1;
}
.MasterRoom div:first-child
{
    background-color: lightblue;
    height: 110px;
    width: 110px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
.MasterRoom{
    width: auto;
    margin-left: auto;
    margin-right: auto;
}
.modal-body {
    overflow: scroll;
}

.leftPart {
    margin-left: 5%;
    margin-top: 10px;
    width: 45%;
    display: inline-block;
    border: 1px solid grey;
    position: relative;
}


.rightPart {
    position: relative;
    border: 1px solid brown;
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
    width: 45%;
}

.datePicker {
    display: inline-block;
    width: 200px;
    margin-right: 5%;
    vertical-align: middle;
}

.datePick{
    width: 700px;
    margin-left: 70px;
    margin-top: 20px;
}
.datePick label{
    font-size: 18px;
    color: gray;
}