//
// Merchandise
// --------------------------------------------------
// Defines system layout


// Base styles
// --------------------------------------------------

.productBoard{
	overflow: hidden;

}

.purchaseBoard{
	position: aboslute;

	.searchBox{
		width: 100%;
	}

}

.buyButton{
	margin-top: 20px;
}