//Variables for Pop menus
//------------------------------
//Not related to bootstrap

$pop-menu-width: 98px;
$pop-panel-width: 266px;

$pop-group-height: 188px;

$pop-menu-bkg: #fafafa;
$pop-panel-bkg: #fefefe;
$pop-menu-hover-bkg: #e9f3f8;

$pop-border: $content-border;
$pop-border-radius: 3px;

