//
// Reservation
// --------------------------------------------------
// Defines system layout


// Base styles
// --------------------------------------------------

.reservationCtrl{
	overflow: hidden;
}

.reservationList{
	margin-top: 20px;
	th{
		padding-left: 20px;
	}
}