//
// Modals in Rooms
// --------------------------------------------------


// Base styles
// --------------------------------------------------

.room-modal-status{
	width: 50px;
	display: inline;
	border-radius: 3px;
	padding: 2px;
	font-size: 12px;
}

.infoPanel{
	overflow-y:auto;
}

.roomAction{

	color:$room-modal-color;

	table{
		width: 100%;
		border-style: none;
		margin: $room-modal-padding-vertical 0px;

		td{
			width: 100%;
			padding-left: $room-modal-padding-horizontal;
			height: $room-modal-table-spacing;
		}
	}

	a{
		color:$room-modal-color;
		text-decoration: none;
	}
}

.roomAction{

	border-right: $content-border-width $content-border-style $content-border-color;
	height: 400px;

	td{
		&:hover{
			a { text-decoration: none;
				color:#fff;}
			cursor: pointer;
			background-color: $room-full-bg;
		}
	}

}

.roomAccounting{
	table{
		
		width: 90%;
		margin: 0 auto;
		border-top:none;
	}
	overflow-y:scroll;
}
