//
// Rooms
// --------------------------------------------------


// Base styles
// --------------------------------------------------

.room{
	display: inline-block;
	width: $room-size;
	height: $room-size;
	border-radius: $room-border-radius;
	border-style: none;
	border-width: 1px;
	overflow: hidden;
	font-weight: 300;

	box-shadow: $room-shadow;

	margin: $room-margin;

	text-align: center;
	vertical-align: center;

	table{
		margin: 20px auto;
		
		tr:first-child{
			td{
			padding-bottom: 30px;
			}
		}
		tr:last-child{
			display: none;
		}
	}

	span{
			color: #fff;
			padding: 2px 20px;
			border-radius: 20px;
		}

}

// Hotel Status
// --------------------------------------------------
.hotelStatus{
	height: $sideNav-profile-height;
	border-bottom: $content-border-style $content-border-width $content-border-color;
	.col-md-4:nth-child(1){
		overflow-y:scroll;
		height: $sideNav-profile-height;
		border-right: $content-border-style $content-border-width $content-border-color;
		padding: $content-padding;
	}
	.col-md-4:nth-child(2){
		overflow-y:scroll;
		height: $sideNav-profile-height;
		border-right: $content-border-style $content-border-width $content-border-color;
		padding: $content-padding;
	}
	.col-md-4:nth-child(3){
		overflow-y:scroll;
		height: $sideNav-profile-height;
		padding: $content-padding;
	}

	table{
		width: 100%;
	}
}


// Room Status
// --------------------------------------------------
.roomStatus{
	padding: 0 $content-padding-horizontal $content-padding-vertical $content-padding-horizontal;
	
}

.roomStatusFull{
	overflow: hidden;
	max-width: ($room-size + ($room-margin*2))*8;
	margin: 0 auto;
	position: relative;
}

// Empty rooms
// --------------------------------------------------

.room-empty{
	@include room-style($room-empty-color,$room-empty-bg,$room-empty-badge);
}

// Full rooms
// --------------------------------------------------

.room-full{
	@include room-style($room-full-color,$room-full-bg,$room-full-badge);
}

// Diabled rooms
// --------------------------------------------------

.room-disabled{
	@include room-style($room-disabled-color,$room-disabled-bg,$room-disabled-badge);
}

// Dirty rooms
// --------------------------------------------------

.room-dirty{
	@include room-style($room-dirty-color,$room-dirty-bg,$room-dirty-badge);
}