//
// Rooms
// --------------------------------------------------


// Base styles
// --------------------------------------------------

.room{
	float: left;
	width: $room-size;
	height: $room-size;
	border-radius: $room-border-radius;
	border-style: none;
	border-width: 1px;
	overflow: hidden;
	font-weight: 300;

	box-shadow: $room-shadow;

	margin: $room-margin;

	text-align: left;
	vertical-align: center;

	ul{
		
		li:first-child{
			font-size: 16px;
			div{
				padding: 10px;
				border-bottom: 1px solid rgba(0,0,0,0.1);
			}
		}
		li:nth-child(2){
			div{
				padding: 10px;
				border-top: 1px solid rgba(255,255,255,0.1);
			}
		}
	}

	span{
		}

}

// Hotel Status
// --------------------------------------------------


// Room Status
// --------------------------------------------------

.roomStatusFull{
	overflow: hidden;
	position: relative;
	width: 800px;
	margin: 0 auto;
}

// Empty rooms
// --------------------------------------------------

.room-empty{
	@include room-style($room-empty-color,$room-empty-bg,$room-empty-border);
	span{
//		border: $content-border;
//		background-color: $room-empty-bg;
	}
}

// Full rooms
// --------------------------------------------------

.room-full{
	@include room-style($room-full-color,$room-full-bg,$room-full-border);
}

// Diabled rooms
// --------------------------------------------------

.room-disabled{
	@include room-style($room-disabled-color,$room-disabled-bg,$room-disabled-border);
}

// Dirty rooms
// --------------------------------------------------

.room-dirty{
	@include room-style($room-dirty-color,$room-dirty-bg,$room-dirty-border);
}