// Variables for Rooms
// --------------------------------------------------


// Shape
//

$room-size:						  98px;
$room-border-radius:              3px;
$room-margin:					  1px;

// Shadow
// 

$room-shadow:           		  none;	 

// Color
//

$room-empty-color:			 	  #fff;
$room-empty-bg:				 	  #19B5FE;
$room-empty-border:				  #169DDD;

$room-full-color:			  	  #fff;
$room-full-bg:				  	  #2980B9;
$room-full-border:				  #2471A3;

$room-disabled-color:		 	  #fff;
$room-disabled-bg:			 	  #F8BE3B;
$room-disabled-border:			  #E4AD32;

$room-dirty-color:			 	  #fff;
$room-dirty-bg:				 	  #676D72;
$room-dirty-border:				  #565555;


// Modals

$room-modal-color:				  $gray-light;
$room-modal-height:				  300px;	
$room-modal-padding-horizontal:	  15px;
$room-modal-padding-vertical:	  15px;
$room-modal-table-spacing:		  24px;
