// Variables for Rooms
// --------------------------------------------------


// Shape
//

$room-size:						  98px;
$room-border-radius:              3px;
$room-margin:					  1px;

// Shadow
// 

$room-shadow:           		  none;	 

// Color
//

$room-empty-color:			 	  #fff;
$room-empty-bg:				 	  $brand-primary;
$room-empty-border:				  darken($room-empty-bg, 5%);

$room-full-color:			  	  #fff;
$room-full-bg:				  	  #226BBE;//#2980B9;
$room-full-border:				  darken($room-full-bg, 5%);//#2471A3;

$room-disabled-color:		 	  #fff;
$room-disabled-bg:			 	  $brand-warning;//#F8BE3B;
$room-disabled-border:			  darken($room-disabled-bg, 5%);//#E4AD32;

$room-dirty-color:			 	  #fff;
$room-dirty-bg:				 	  #676D72;
$room-dirty-border:				  #565555;


// Modals

$room-modal-color:				  $gray-light;
$room-modal-height:				  300px;	
$room-modal-padding-horizontal:	  15px;
$room-modal-padding-vertical:	  15px;
$room-modal-table-spacing:		  24px;

// Alert

$room-alert-size:				  16px;
$room-alert-position:			  -2px;