//
// InfoCenter
// --------------------------------------------------


// Base styles
// --------------------------------------------------

.infoCenterArea{
//	box-shadow: $content-shadow;
	text-align: left;
	z-index: 100;
	width: $infoCenter-width;
	position: fixed;
	top: $title-height+2px;
	left: 100% - $infoCenter-width;
}

.infoCenter{

	.card{
		height: $infoCenter-height;

		.infoTitle{
			font-weight: 600;
		}

		.infoTime{
			font-weight: 300;
			color: #d0d0d0;

		}

		.infoContent{
			font-weight: 300;
			color: #b6b6b6;
			padding-top: 12px;
		}
	}
}