// Variables for Info Center
// --------------------------------------------------


// Shape
//

$infoCenter-width:				  16%;
$infoCenter-padding-vertical:	  0;
$infoCenter-padding-horizontal:	  0;
$infoCenter-padding:			  $infoCenter-padding-vertical $infoCenter-padding-horizontal;
$infoCenter-height:				  1000px;

// color
//

$infoCenter-color:				  #fff;
$infoCenter-bg:					  none;