// Variables for Info Center
// --------------------------------------------------


// Shape
//

$infoCenter-width:				  $sideNav-width;
$infoCenter-padding-vertical:	  20px;
$infoCenter-padding-horizontal:	  10%;
$infoCenter-padding:			  $infoCenter-padding-vertical $infoCenter-padding-horizontal;

// color
//

$infoCenter-color:				  #fff;
$infoCenter-bg:					  #666;