//
// Stats
// --------------------------------------------------


// Base styles
// --------------------------------------------------

.statsArea{
	box-shadow: $content-shadow;
	background-color: $content-bg;
	text-align: left;
	border-radius: $content-corner-radius;
}
