//Various Themes
//---------------------------
//Bunch of hacks we made to override angularjs defaults


//removeArrow is a class Charlie added to override the timepicker arrows. 
.removeArrow > table > tbody > .text-center {
    display: none;
}

.removeArrow > table {
	background-color: transparent;
}

.removeArrow input, .removeArrow button {
	border-radius: $content-border-radius;
    font-size: 12px;
    padding: 10px 16px;
    height: 42px;

}

.reserveClick  > td{
    background-color: $pop-menu-hover-bkg !important;
}

.greenOut > td, .greenOut {
    opacity: 0.1;
    background-color: #79C3F7!important;
}