//Btn Style 
//---------------------
//Overrides some of the bootstrap standards

.btn-lg, .btn, .btn-sm, .btn-xs{
	border-radius: $content-border-radius;
	font-size: $content-font-size;

	i{
		line-height: 1.2;
	}
}

.btn-disabled{
	background-color: #aaa;
	color: white;
	&:hover{
		color: white;
		cursor: not-allowed;
	}
}

.btn-link{
	color: #2980B9;
	text-decoration: underline;
	padding-right: 5px;
	padding-left: 5px;
}

.btn{
	transition: 0.1s;
	-webkit-transition: 0.1s;
}
