//
// New Reservation
// --------------------------------------------------


// Base styles
// --------------------------------------------------

form{

	.sectionArea{
		padding: $content-padding-vertical 0px;
		overflow: hidden;
		border-bottom: $content-border;
	}

}

.form-group{
	overflow: hidden;
}