//Global Style 
//---------------------
//Overrides some of the bootstrap standards

//List
//-----------------------------------------------

ul{
	list-style: none;
	margin:0;
	padding:0;
}

//Text
//Change of font size has to be made by changing bootstrap varaibles. Base font size was set to 12pt;

.text-lg{
	font-size: 2em;
	font-weight: 600;
}

//Background Color
//-----------------------------------------------

body, .main{
	background-color: #efefef;
}

//Splitter
//-----------------------------------------------

.splitter{
	width: 100%;
	height: $splitter-height;
	margin: $splitter-margin;
	background-color: $splitter-bkg;
}

//Table
//-----------------------------------------------
//Change row color when hover
.table > tbody > tr > td, .table > tbody > tr > th {
	border-top: none;
	border-bottom: 1px solid #ddd;
}

.reserveClick  > td{
    background-color: #d9edf7 !important;
} 
//Change row color when condition achieved
.timeOutResv {
}




//Enable overflow
//-----------------------------------------------
//In case when overflow needs to be removed

.enableOverFlow {
    overflow: visible !important;
}

