//InfoCenter Style 
//---------------------
//

.infoCenter{
	height: 100%;
	.panel-table{
		min-height: 800px;
	}

	.infoTitle{
		color: white;
		margin-bottom: 10px;
		float:left;

		b{
			background: red;
			border-radius: 25px;
  			padding: 2px 5px;
		}
	}

	.infoTime{
		color: #bbb;
		float:right;
	}
}

