//
// Modals
// --------------------------------------------------
// Add to Bootstrap's modal design

.modal{
	width: 640px;
	margin: 100px auto auto auto;
	height: auto;
}

.modal-body{
	overflow: hidden;
	padding:0;
}