//Modal Style 
//---------------------
//Overrides some of the bootstrap standards

//Nav
//

.modal{
	width: 100%;
	height: 100%;

	.modal-control{
		margin-top: 32px;
		margin-bottom: 5px;
		.btn{
			margin-left: 10px;
		}
	}

	.modal-content{
		border: none;
		box-shadow: none;
		background-color: transparent;
	}

	.panel{
		background-color: #FBFBFB;
		margin: 0;
		width: $modal-width;
		margin: 80px auto;


		.table{
			th,td{
				border-top: none;
				border-bottom: 1px solid #E2E2E2;

				input{
					height: auto;
				}

				a:hover{
					cursor: pointer;
				}
			}
		}

		.panel-heading{
			width: $modal-width;
			border-bottom: 1px solid #E2E2E2;
		}

		.panel-body{
			padding-left: 50px;
			padding-right: 50px;
			max-height: $modal-body-height;
			overflow-y: scroll;

			.form-group{
				overflow: hidden;
				label{
					font-weight: 300;
					color: #aaa;
				}
			}
		}
	}
}


