//
// Structure
// --------------------------------------------------
// Defines system layout


// Base styles
// --------------------------------------------------


.sideNavArea{
	top:0;
	left: 0;
	width: $sideNav-width;
}

.main{
	position: absolute;
	top: $title-height+7px;
	left: 0;
	width: 100%;
	background-color: #f6f6f6;

	.content{

		width: 100% - $infoCenter-width;
		top: 0;
		left:0;
		min-height: 1000px;

		.titleArea{
			top: 0;
			width: 100% - $infoCenter-width;
			margin: 0 auto;
			position: fixed;
			height: $title-height - $card-spacing;
			margin-bottom: $card-spacing;
		}

		.contentArea{
			z-index: 0;
			position: relative;
			margin: 0px auto 0px auto;
		}
	}

}

.newMain{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;

	.content{
		max-width: 900px;
		min-height: 1000px;
		padding-top: 64px;
	}
}


//List Style
//-------------------------
//Overrides some default list syles in Bootstrap
ul{
	padding:0;
	margin: 0;
	li{
		list-style: none;
	}
}



//Structural Style
//----------------------
//Whatever happens here goes to various locations 


.padded-block{
	padding:$content-inner-padding;
	overflow: hidden;
}

.padded-row{
	padding:$content-inner-padding;
	overflow: hidden;
	border-bottom: $content-border;
}

.popUp{
	width:486px;
	height: 400px;
}

.noInternet{
	display: none;
}


//Menu Style
//-----------------------
//Style of Pop-up Menus

.menu-small,.menu-large{
	position:absolute;
	background-color: #fefefe;
	z-index: 1000;
	border:$content-border;
	border-radius: $card-radius;

	ul{
		background-color: #fafafa;
		a{
			color: $content-color;
			min-width: 90px;
			text-align: left;
			display: inline-block;
			&:hover{
				background-color: #e9f3f8;
			}
		}
	}
}

.menu-large{
	ul{
		border-right: $content-border;
	}
	table{
		td{
			min-width: 58px;
			a{
				margin-left: 5px;
				text-decoration: underline;
				&:hover{
					color: #2980B9;
				}
			}
		}
	}
}
