//Table Style
//---------------------------
//Overrides some default table style in Bootstrap

.tableArea{
	overflow-x:scroll;

	table{
		min-width: 100%;
		text-align: left;
		border: none;

		td, th{
			padding: 14px;
			width: 1px;
			white-space: nowrap;
			vertical-align: middle;

			&:first-child{
				padding-left: 16px;
			}
			&:last-child{
				padding-right: 16px;
			}
		}

	}

}