//Various Themes
//---------------------------
//Colors and sizes


//Text color
.text-danger{
	color:$brand-danger;
}

.text-success{
	color:$brand-success;
}


.text-primary{
	color:$brand-primary;
}


//Text size
.text-lg{
	font-size: $font-size-base * 1.5;
	font-weight: bold;
}

.text-sm{
	font-size: $font-size-base * 0.85;
}

