// Variables shared
// --------------------------------------------------

//** Scaffolding
//Provides variables used in _scaffolding.scss

$content-outer-bg:					  none;
$content-corner-radius:			  	  0px;
$content-shadow:					  -1px 1px 3px rgba(173,173,173,0.2);
$content-color:						  #666;

// Border

$content-border-style:				  solid;
$content-border-width:				  1px;
$content-border-color:				  #ddd;
$content-border:					  $content-border-width $content-border-style $content-border-color;
$content-border-radius:				  3px;

$splitter-height:					  1px;
$splitter-bkg:						  #ddd;
$splitter-margin:					  16px 0;

// Padding

$content-padding-vertical:			  32px;	
$content-padding-horizontal:		  48px;
$content-padding:					  $content-padding-vertical $content-padding-horizontal;	
$content-inner-padding:				  $content-padding-vertical*0.5 $content-padding-horizontal*0.5;	

// Tables

$table-border:						  $content-padding-horizontal solid #ddd;
$table-cell-border:					  1px solid	#ddd;


// Text

$content-font-size:					  12px;

