//
// Structure
// --------------------------------------------------
// Defines system layout


// Base styles
// --------------------------------------------------


.sideNavArea{
	height: 1000px; //Temporary
	top:0;
	left: 0;
	width: $sideNav-width;
}

.main{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;


	.infoCenterArea{
		width: $infoCenter-width;
		position: fixed;
		top: 0;
		left: 100 - $infoCenter-width;
		height: 1000px;
		//left: $sideNav-width + 0.05 * (100% - $sideNav-width);
		//height: $sideNav-title-height - 10px;
	}

	.contentArea{
		width: 70%;
		margin: 0 auto;
		margin-top: $sideNav-title-height;
	}
}

.searchBox{
	border:$searchBox-border;
	border-radius:$searchBox-radius;
	width: $searchBox-width;
}

.inputBox{
	border:$searchBox-border;
	width: 30px;
	padding: 0 5px;
	text-align: center;
}

.tableArea{
	overflow-x:scroll;
	border-left:$table-border;
	border-right:$table-border;
	padding-bottom: $content-padding-horizontal;

	.table{
		min-width: 100%;
		text-align: left;
		color: $gray-light;

		tr td, tr th{
			padding: 5px 10px;
		}


		tr td, tr th{
			width: 1px;
			white-space: nowrap;
		}
	}

}

.ctrlArea{
	padding:$content-padding;
	overflow: hidden;

	.ctrlRight{
		float: right;
		@include clearfix();
	}

	.ctrlLeft{
		float: left;
		@include clearfix();
	}
}

.formArea{
	padding: $content-padding-vertical $content-padding-horizontal;
}