// Variables shared
// --------------------------------------------------

//** Structural
//

$content-bg:					  	  #fcfcfc;
$content-corner-radius:			  	  0px;
$content-shadow:					  1px 1px 1px rgba(173,173,173,0);

//** SearchBox
//

$searchBox-radius:			 		  40px;
$searchBox-border:			 		  solid 1px rgba(226,226,226,1);
$searchBox-width:					  150px;

//** Border
//

$content-border-style:				  solid;
$content-border-width:				  1px;
$content-border-color:				  rgba(226,226,226,1);
$content-border:					  $content-border-width $content-border-style $content-border-color;

//** Padding
//

$content-padding-vertical:			  32px;	
$content-padding-horizontal:		  48px;
$content-padding:					  $content-padding-vertical $content-padding-horizontal;	

//** Table
//

$table-border:						  $content-padding-horizontal solid $content-bg;
$table-cell-border:					  1px solid	$content-bg;

//** Controls
//

$tab-border-radius:					  0px;
$tab-border-style:					  none;
$tab-padding-vertical:				  $padding-base-vertical*1.25;
$tab-padding-horizontal:			  $content-padding-horizontal*2;

$tab-active-bg:						  $content-bg;
$tab-inactive-bg:					  #cfcfcf;


